* {
    box-sizing:         content-box;
    margin:             0px;
    padding:            0px;
}

head, body {
    width:              80vw;
    margin:             2vh 10vw;
}

a {
    text-decoration:    none;
    color:              black;
}

.options {
    float:              left;
    margin:             5vh auto;
    width:              100%;
}

#contentbox h1 {
    top:            50px;
    text-align:     center;
    color:          red;
}

h2, .option, .crudButton, .my_form, .input_form, label {
    float:              left;
    text-align:         center;
}

.option, .crudButton {
    width:              20%;
    height:             auto;
    margin:             auto calc(40% / 6);
    font-size:          2em;
    border-radius:      10px;
    color:              white;
    background-color:   darkorange;
}

.crudButton {
    font-size:          1em;
    width:              15%;
    margin:             auto calc(40% / 12);
    background-color:   red;
}

.option:hover, .crudButton:hover {
    background-color:   saddlebrown;
}

h2 {
    width:              calc(100% / 3);
    color:              darkorange;
}

table {
    font-family:        arial, sans-serif;
    border-collapse:    collapse;
    width:              100%;
}

td, th {
    border:             0.1px solid #dddddd;
    text-align:         left;
    padding:            8px;
}

tr:nth-child(even) {
    background-color:   orange;
}

.my_form {
    margin:             10px;
    padding:            5px;
    background-color:   orange;
}

.input_form {
    width:              40vh;
}

label {
    width:              20vh;
    font-size:          1.3em;
    color:              white;
}

input {
    border-radius:      10px;
    background-color: white;
    margin:             5px auto;
}