body {
    width: 80vw;
    margin: auto 10vw;
}

.options, #form {
    float:              left;
    box-sizing:         content-box;
    width:              50%;
    height:             15vh;
}

.options {
    text-align:         center;
    font-size:          4em;
    color:              darkorange;
    background-color:   lightgrey;
}

.options:hover {
    color:              lightgrey;
    background-color:   darkorange;
}

#form {
    background-color:   orange;
}

label {
    float: none;
}

h2 {
    width:      calc(100% / 3);
    text-align: center;
    color:      darkorange;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0.1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: orange;
}